.gs-section {
    --section-width: 40rem;
}

.tabs__nav {
    margin-bottom: calc(var(--padding) * 3);
    display: flex;
    gap: .5em;
}

.tabs__nav-button {
    flex: 1;
    padding: var(--padding);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
}

.tabs__nav-button:is(:hover, :focus-visible) {
    scale: none;
    box-shadow: inset 0 0 0 var(--border-width) var(--color);
}

form label {
    display: block;
}

form input {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
}