*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-hsl: 0 0% 0%;
    --warning-color-hsl: 52 91% 55%;
    --error-color-hsl: 0 91% 55%;
    --base-color-hsl: 0 0% 100%;
    --success-color-hsl: 240 80% 50%;

    --primary-color: hsl(var(--primary-color-hsl));
    --warning-color: hsl(var(--warning-color-hsl));
    --error-color: hsl(var(--error-color-hsl));
    --base-color: hsl(var(--base-color-hsl));
    --success-color: hsl(var(--success-color-hsl));

    --border-color: hsl(var(--primary-color-hsl) / 10%);
    --border-width: 1px;
    --border-radius: .5em;

    --section-width: 80rem;
    --padding: 1rem;

    overflow-x: hidden;
    background-color: var(--base-color);
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
    accent-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-hsl: 0 0% 90%;
        --warning-color-hsl: 52 91% 55%;
        --error-color-hsl: 0 80% 65%;
        --base-color-hsl: 240 5% 5%;
        --success-color-hsl: 240 80% 80%;

        color-scheme: dark;
    }
}

::-webkit-scrollbar {
    width: 1rem;
    height: .9rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-color-hsl) / 30%);
    border-radius: 1rem;
    border: .3rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary-color-hsl) / 50%);
}

:focus-visible {
    outline: 2px solid var(--success-color);
    outline-offset: -2px;
}

hr {
    border: none;
    border-bottom: var(--border-width) solid var(--border-color);
    margin-block: 1em;
    width: 100%;
}

a {
    color: inherit;
    /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
    line-height: 1.2;
}

:where(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 1.5em;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

ol,
ul {
    margin-left: 1.5em;
}

label {
    display: inline-block;
    margin-bottom: .5em;
}

input,
select,
button {
    font: inherit;
    color: inherit;
}

input,
select {
    padding: .5em .8em;
    border: var(--border-width) solid hsl(var(--primary-color-hsl) / 20%);
    -webkit-tap-highlight-color: transparent;
    background: none;
    border-radius: .3em;
}

input[type="range"] {
    padding: 0;
}

select {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: min(20vh, 12rem);
    height: min(20svh, 12rem);
    padding: .3em .5em;
    border-radius: .3em;
    border: var(--border-width) solid hsl(var(--primary-color-hsl) / 20%);
    font: inherit;
    resize: none;
}

.icon {
    vertical-align: top !important;
    /* translate: 0 -.15em; */
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: hsl(var(--primary-color-hsl) / 50%);
}

.text :where(h1, h2, h3, h4, h5) {
    line-height: 1.2;
    margin-bottom: .5em;
}

.text h1 {
    font-size: 3em;
}

.text h2 {
    font-size: 2em;
}

.text h3 {
    font-size: 1.5em;
}

.text :where(ul, ol) {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.text img {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.text > :first-child {
    margin-top: 0;
}

.text > :last-child {
    margin-bottom: 0;
}

.text blockquote {
    border-left: .2em solid var(--primary-color);
    padding-left: 1.3em;
}

.text pre {
    overflow: auto;
    margin-bottom: 1.5em;
}

.text code {
    padding: .2em .3em;
    background-color: hsl(var(--primary-color-hsl) / 8%);
    border-radius: var(--border-radius);
}

.text pre code {
    padding: 1.5em;
    display: block;
    white-space: pre;
    min-width: 100%;
    width: max-content;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.5rem;
    }
}